.seo-pages-1tlk4a1{
    display: flex;
    flex-direction: column;
}
.seo-pages-a8glsk{
    display: flex;
}
.seo-pages-1oxz05q{

}
.seo-pages-1hmjq1v{
    display: flex;
    flex-direction: column;
}
.seo-pages-xclsga{
    display: flex;
    gap: 10px;
}
.seo-pages-1kwgl1l{
    list-style: none;
}

.seo-pages-i4vn76{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.seo-pages-ty3ins{
    list-style: none;

}