/* header section 1 */

.hdr-content-space{
    background-color: #FBF9F6;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hdr-content-pages a{
    font-family: var(--font-basis), serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    text-transform: none;
}

.hdr-navbar-space{
    display: flex;
    justify-content: space-between;
}
.hdr-navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.hdr-host{
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    cursor: pointer;
}
.hdr-host button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 11px;
    border: none;
    color: #414143;
    background-color: #FFFFFF;
    cursor: pointer;

}

.hdr-login-signup-svg:hover{
    background-color: #9b9b9f;
    border-radius: 8px;
}
.hdr-login-signup{
    border-radius: 8px;
    padding: 8px 8px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}
.
.hdr-login-signup svg {
    border: none;
}